<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gestoriamaster/

    RewriteRule ^test$ test.php [L]

    # Documento de error personalizado
    ErrorDocument 404 http://localhost/zekkiel.github.io/Gestoria_Master/error/index

    # Evitar redirecciones para archivos o directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todas las demás solicitudes a index.php con parámetros
    RewriteRule ^(.*)/(.*)$ index.php?controller=$1&action=$2 [L,QSA]
</IfModule>
